@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

.FillScreen {
  bottom:0;
  top:0;
  left:0;
  right:0;
}

//Layout
.wake-up-container{
  .FillScreen;
  position: absolute;
  display:flex;
  justify-content:center;
  align-items:center;
  .backDrop{
    position:absolute;
    box-sizing: border-box;
    width: 80%;
    height: 80vh;
    max-width: 650px;
    max-height: 100vw;
    margin: auto;
  }
}

//Styling
.wake-up-container{
  .backDrop{
    overflow-y: hidden;
    @media (min-width: 900px) {
      padding: 54px;
    }
    padding: 6vw;
    transition: 2s;

    .wake-up-console {
      @media (min-width: 900px) {
        font-size: 81px;
      }
      font-size: 9vw;
      line-height: 1em;
      text-transform: uppercase;
      font-family: 'Amatic SC', cursive;
      text-shadow: 0.2px 0.2px 6px rgba(0,0,0,0.2);

      .vertical-bar{
        display: inline-flex;
        background-color: @fontColor;
        height: 0.9em;
        width: 0.5em;
        position: relative;
        top: 0.1em;
        left: 0.1em;
        .blink_me;
      }
    }
  }
}
