@import '../modules/sidemenu/sidemenu.less';
@import '../modules/selfWritingConsole/self-writing-console.less';

@fontColor: #fff4c2;

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.appContainer{
  color: @fontColor;
  font-family: monospace;
}

body {
  background-color: black;
}
