@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
.make-button-appear-as-link button,
.make-button-appear-as-link button:focus,
.make-button-appear-as-link button:active {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  display: inline;
  outline: none;
  outline-offset: 0;
}
.side-menu-container button,
.side-menu-container button:focus,
.side-menu-container button:active {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  display: inline;
  outline: none;
  outline-offset: 0;
}
.side-menu-container .btn-open-side-menu {
  position: fixed;
  padding: 1em;
  top: 0;
  right: 0;
  opacity: 0.15;
  transition: 0.3s;
}
.side-menu-container .btn-open-side-menu svg {
  stroke: #fff4c2;
  height: 50px;
}
.side-menu-container .btn-open-side-menu:hover {
  opacity: 0.30;
}
.side-menu-container .side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #1a1a1a;
  opacity: 0.95;
  overflow-x: hidden;
  padding-top: 40px;
  transition: 0.5s;
  box-sizing: border-box;
}
.side-menu-container .side-menu .content {
  position: relative;
  padding: 20px 10px 20px 30px;
  font-size: 1.3em;
  overflow: hidden;
}
.side-menu-container .side-menu .btn-close {
  position: absolute;
  top: -15px;
  left: 10px;
  font-size: 6em;
  padding: 10px;
  color: #fff4c2;
  display: block;
  transition: 0.3s;
}
.side-menu-container .side-menu .btn-close:hover {
  color: #fff;
}
.FillScreen {
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.wake-up-container {
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wake-up-container .backDrop {
  position: absolute;
  box-sizing: border-box;
  width: 80%;
  height: 80vh;
  max-width: 650px;
  max-height: 100vw;
  margin: auto;
}
.wake-up-container .backDrop {
  overflow-y: hidden;
  padding: 6vw;
  transition: 2s;
}
@media (min-width: 900px) {
  .wake-up-container .backDrop {
    padding: 54px;
  }
}
.wake-up-container .backDrop .wake-up-console {
  font-size: 9vw;
  line-height: 1em;
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  text-shadow: 0.2px 0.2px 6px rgba(0, 0, 0, 0.2);
}
@media (min-width: 900px) {
  .wake-up-container .backDrop .wake-up-console {
    font-size: 81px;
  }
}
.wake-up-container .backDrop .wake-up-console .vertical-bar {
  display: inline-flex;
  background-color: #fff4c2;
  height: 0.9em;
  width: 0.5em;
  position: relative;
  top: 0.1em;
  left: 0.1em;
  animation: blinker 1s linear infinite;
}
.blink_me {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.appContainer {
  color: #fff4c2;
  font-family: monospace;
}
body {
  background-color: black;
}
