@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Bungee|Special+Elite');
.side-menu-container .btn-open-side-menu {
  position: fixed;
  padding: 1em;
  top: 0;
  right: 0;
  opacity: 0.15;
  transition: 0.3s;
}
.side-menu-container .btn-open-side-menu svg {
  stroke: #fff4c2;
  height: 50px;
}
.side-menu-container .btn-open-side-menu:hover {
  opacity: 0.30;
}
.side-menu-container .side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #1a1a1a;
  opacity: 0.95;
  overflow-x: hidden;
  padding-top: 40px;
  transition: 0.5s;
  box-sizing: border-box;
}
.side-menu-container .side-menu a {
  padding: 10px;
  text-decoration: none;
  font-size: 22px;
  color: #fff4c2;
  display: block;
  transition: 0.3s;
}
.side-menu-container .side-menu a:hover {
  color: #fff;
}
.side-menu-container .side-menu .content {
  position: relative;
  padding: 20px 10px 20px 30px;
  font-size: 1.3em;
  overflow: hidden;
}
.side-menu-container .side-menu .btn-close {
  position: absolute;
  top: -15px;
  left: 10px;
  font-size: 6em;
}
.wake-up-container .backDrop {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 550px;
  margin: 4rem auto;
}
.wake-up-container .backDrop {
  overflow-y: hidden;
  padding: 4em;
  transition: 2s;
}
.wake-up-container .backDrop .wake-up-console {
  font-size: 5em;
  line-height: 1em;
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  text-shadow: 0.2px 0.2px 3px rgba(0, 0, 0, 0.6);
}
.wake-up-container .backDrop .wake-up-console .vertical-bar {
  display: inline-flex;
  background-color: #fff4c2;
  height: 0.9em;
  width: 0.5em;
  position: relative;
  top: 0.1em;
  left: 0.1em;
  animation: blinker 1s linear infinite;
}
.blink_me {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.appContainer {
  color: #fff4c2;
  font-family: monospace;
}
body {
  background-color: black;
}
